<%- if flash[:notice] -%>
  <p class="notice"><%= flash[:notice] -%></p>
<%- end -%>
<%- unless @experiences.empty? -%>
  <% @experiences.each do |experience| -%>
    <li class="experience">
      <%= link_to truncate_and_titleize(experience.title), experience_path(experience), title: experience.title.titleize -%>
      <%= t('psychlopedia.misc.by') -%>
      <span style="font-weight:bold;"><%= experience.pseudonym -%></span>
    </li>
  <%- end -%>
  <%= will_paginate @experiences, page_links: false -%>
<%- else -%>
  <div class="no-data">
    <p><%= t('experiences.no_data') -%></p>
    <p><%= link_to t('experiences.no_data_invitation'), new_experience_path, class: 'create' -%></p>
  </div>
<%- end -%>
