<%- if @experience.present? -%>
  <div>
    <%- if flash[:notice] -%>
      <p class="notice"><%= flash[:notice] -%></p>
    <%- end -%>
    <%- if session[:admin] -%>
      <p style="margin-bottom:5px;"><%= link_to('~Editar', edit_experience_path(@experience)) -%></p>
      <p style="margin-bottom:5px;"><%= link_to('~Borrar', experience_path(@experience), method: :delete) -%></p>
    <%- end -%>
    <div class="experience_data">
      <h1 class="title" title="<%= @experience.title.titleize -%>">
        <span class="self"><%= truncate_and_titleize(@experience.title) -%></span>
      </h1>
      <h3 class="who_and_when">
        <%= t('psychlopedia.misc.by') -%>
        <%= @experience.pseudonym -%> &#8669;
        <%= l @experience.created_at.to_date, format: :long -%>
      </h3>
      <div class="set_and_setting">
        <%- if @experience.set.present? -%>
          <p>
            <span><%= t('experiences.show.set')%>: </span><%= @experience.set -%>
          </p>
        <%- end -%>
        <%- if @experience.setting.present? -%>
          <p>
            <span><%= t('experiences.show.setting') -%>: </span><%= @experience.setting -%>
          </p>
        <%- end -%>
      </div>
    </div>
    <%- if @experience.cocktails.present? -%>
      <div class="cocktail_data">
        <%- @cocktail = @experience.cocktails.first -%>
        <p>
          <span><%= t('experiences.show.substance') -%>:</span> <%= @cocktail.substance -%>
        </p>
        <p>
          <span><%= t('experiences.show.dosage') -%>:</span> <%= @cocktail.dosage -%>
        </p>
      </div>
    <%- end -%>
    <div class="report">
      <%= markdown(@experience.body) -%>
    </div>
    <%- if @experience.source.present? && @experience.source != 'psychlopedia' -%>
      <div class="source">
        <p><%= t('experiences.show.source') -%>: <%= @experience.source -%></p>
      </div>
    <%- end -%>
    <hr>
    <div id="comments">
      <!-- Yet to be. -->
    </div>
  </div>
<%- end -%>
